/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@fontsource /marck-script;

.marck-script {
	font-family: 'Marck Script';
}
.link-hover {
	transition: all 0.3s;
}
.link-hover:hover {
	color: #4e6e58;
}

@layer components {
	.hljs {
		@apply bg-slate-800;
	}
	.a-link {
		@apply bg-gradient-to-t bg-opacity-60 from-[#B07156] via-transparent to-transparent
		px-1 rounded-b-md
		transition-all duration-300
		hover:bg-[#B07156] hover:rounded-md;
	}
	.btn-nav {
		@apply text-lg font-medium px-3 text-gray-600 hover:text-green-600 py-1.5 transition-all duration-300;
	}
}
